@import '../../styles/mixin.scss';

.Header {
  position: sticky;
  height: 50px;
  background-color: aqua;
  display: flex;
  align-items: center;
  padding: 0 3rem;

  &_Logo {
    @include box(20px, 20px);
    border: 1px solid darkcyan;
    background: radial-gradient(wheat, darkcyan);
    border-radius: 50%;

    &:hover {
      border: 1px solid darken(darkcyan, 5%);
      box-shadow: 0px 0px 10px darken(darkcyan, 2%);
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
